<span class="bg-warning">{{title}}</span>
<!-- 
<ul class="bg-success ">
    <li
    *ngFor="let tag of tags; let i = index">
    {{tag}}
    </li>
</ul> -->

<table class="table table-bordered table-striped table-hover table-dark">
    <thead>
        <tr>
            <th>#</th>
            <th>TAGS</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let tag of tags; let i = index">
            <td><span>{{i+1}}</span></td>
            <td colspan="2"><span>{{tag}}</span></td>
        </tr>
    </tbody>
</table>


<input type="text" (input)="onChange($event)" (focusout)="onAddTag($event)"/>

<button class="btn btn-block btn-dark" type="button" (click)="onClickButton($event)"><span class="badge">{{tags.length}}</span>Remove Tag</button>
